.form-control-color {
	border: 0;
	padding: 0;

	&::-webkit-color-swatch {
		border-color: $gray-800;
	}

	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
}

.form-group-axis-reference {
	min-width: 13em;
}

.form-group-button-reference {
	min-width: 9.5em;
}

.form-group-color {
	min-width: 11em;
}

.input-group-number {
	min-width: 8em;
}
