.menu {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: $spacer;
	max-width: 40em;

	.card {
		min-width: 20em;
		overflow: auto;
	}

	.card-body {
		overflow: auto;
	}
}

.nav-item .close {
	line-height: 2rem;
}
