.table-stats-buttons {
	th:not(:first-child) {
		width: 7em;
	}

	th:nth-child(2) {
		width: 1px;
	}

	td {
		white-space: nowrap;
	}
}

.table-stats-axes {
	th:not(:first-child) {
		width: 5em;
	}

	td {
		white-space: nowrap;
	}
}
