.id-table-stats-buttons {
	width: auto;

	th:first-child {
		width: 7em;
	}

	th:nth-child(2) {
		width: 1px;
	}

	th:nth-child(3) {
		width: 6em;
	}

	th {
		width: 3.5em;
	}
}

.id-table-stats-axes {
	width: auto;

	th:first-child {
		width: 5em;
	}

	th {
		width: 4.2em;
	}

	th:last-child {
		width: 4em;
	}
}
