.form-control-color {
	border: 0;
	padding: 0;
	width: 2em;

	&::-webkit-color-swatch {
		border-color: $gray-800;
	}

	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
}

.form-group-axis-reference {
	min-width: 13em;
}

.form-group-button-reference {
	min-width: 9.5em;
}

.form-group-color {
	min-width: 10.5em;
}

.form-group-direction4 {
	min-width: 6.5em;
}

.form-group-direction8 {
	min-width: 9em;
}

.form-group-label-position {
	label {
		white-space: nowrap;
	}

	.form-control {
		min-width: 7em;
	}
}

.form-group-label-replacement .form-control {
	min-width: 13em;
}

.form-group-number {
	label {
		white-space: nowrap;
	}

	.form-control {
		min-width: 5.2em;
	}
}
