.hue-slider {
	display: inline-block;
	vertical-align: bottom;
}

.hue-slider-gradient {
	$hue-gradient: ();
	@for $i from 6 through 0 {
		$hue-gradient: append(
			$hue-gradient,
			"hsl(" + ($i * 60) + ", 100%, 50%)",
			comma
		);
	}

	position: relative;
	background: linear-gradient(#{$hue-gradient});
	width: 20px;
	height: 180px;
}

.hue-slider-thumb {
	position: absolute;
	left: -2px;
	right: -2px;
	margin-top: -2px;
	border-color: $body-color;
	height: 5px;
}
