.id-table-stats-buttons {
	width: auto;

	th:first-child {
		width: 8em;
	}

	th:nth-child(2) {
		width: 1px;
	}

	th {
		width: 7em;
	}
}

.id-table-stats-axes {
	width: auto;

	th:first-child {
		width: 3em;
	}

	th {
		width: 4.5em;
	}
}
