@import 'display/display';
@import 'error/error-alert-list';
@import 'menu/config/config';
@import 'menu/controller/controller';
@import 'menu/field/field';
@import 'menu/menu';

main {
	height: 100%;
}

.scroll {
	margin-bottom: $spacer;
	overflow: auto;

	> :last-child {
		margin-bottom: 0;
	}
}
