main {
	height: 100%;
}

.scroll {
	margin-bottom: $spacer;
	overflow: auto;

	> :last-child {
		margin-bottom: 0;
	}
}

.border-outline {
	border: 1px solid $border-color;
	box-shadow: 0 0 0 1px #000, inset 0 0 0 1px #000;
	padding: 1px;

	&:focus {
		outline: none;
		border-color: $input-focus-border-color;
	}
}

.form-row-collapse-margin {
	// Fix margin not collapsing after a form row.
	margin-bottom: -$form-group-margin-bottom;
}

@import 'display/display';
@import 'error/error-alert-list';
@import 'menu/config/config';
@import 'menu/config/field/axis-select';
@import 'menu/config/field/hue-slider';
@import 'menu/config/field/saturation-lightness-plane';
@import 'menu/controller/axis-table';
@import 'menu/controller/button-table';
@import 'menu/controller/device-info';
@import 'menu/field/field';
@import 'menu/menu';
