@import '../node_modules/bootstrap-theme/src/post-bootstrap';

@import 'config/config';
@import 'controller/controller';
@import 'display/display';
@import 'error/error';
@import 'menu/menu';

main {
	height: 100%;
}

.scroll {
	margin-bottom: $spacer;
	overflow: auto;

	> :last-child {
		margin-bottom: 0;
	}
}
